@font-face {
    font-family: gta;
    src: url(fonte/pricedown\ bl.otf);
}


h1{
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
    text-shadow: 5px 6px 3px green;
   
}

h2{
    color: white;
    text-align: center;
    font-size: 30px;
    text-shadow: 5px 6px 3px green;
   
}



body
{
      background-image: url(Rockstar/wallpaperflare.com_wallpaper\ \(1\).jpg);
      background-repeat: no-repeat;
      background-size: 100%;
     font-family: 'gta'; 
     
    }




