h1{
    color: blue;
    text-align: center;
  }
  body{
      background-image: url(Rockstar/2662c8b83036ad21ae11d46b9708516f.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
  }