@font-face {
    font-family: gta;
    src: url(fonte/pricedown\ bl.otf);
}


h1{
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
    text-shadow: 3px 4px 2px black  ;
    -webkit-text-stroke: 1px black;
}

h2{
    color: white;
    text-align: center;
    font-size: 36px;
    text-shadow: 5px 6px 3px black;
    -webkit-text-stroke: 1px black;
   text-decoration: #000000;
    margin: 2% 5%;

}



body
{
      background-image: url(Rockstar/01-Imagem-Capa.jpg     );
      background-repeat: no-repeat;
      background-size: cover;
      font-family: 'gta'; 
      background-attachment: fixed;
    }