@font-face {
    font-family: gta;
    src: url(fonte/pricedown\ bl.otf);
}


h1{
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
    text-shadow: 5px 6px 3px black;
    -webkit-text-stroke: 1px black;
}

h2{
    color: white;
    text-align: center;
    font-size: 40px;
    text-shadow: 5px 6px 3px black;
    -webkit-text-stroke: 1px black;
}



body
{
      background-image: url(Rockstar/gallery13.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      font-family: 'gta'; 
      width: 100%;
      background-attachment: fixed;
}

.section{
        line-height: 1.5;
        padding: 40px;
        border: 2px solid #ffffff;
        margin: 50px;
        background-color: #00000080;
        color: white;
        box-shadow: 0 0 40px #ffffff;
        display: block;
        text-align: center;
        font-size: 25px;
        -webkit-text-stroke: 1px black;
        text-shadow: 5px 6px 3px black;
    }
    