@font-face {
    font-family: gta;
    src: url(fonte/pricedown\ bl.otf);
}


h1{
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
    text-shadow: 5px 6px 3px green;
    
}

h2{
    color: white;
    text-align: center;
    font-size: 30px;
    text-shadow: 5px 6px 3px green;
   
}



body
{
      background-image: url(Rockstar/wallpaperflare.com_wallpaper\ \(1\).jpg);
      background-repeat: no-repeat;
      background-size: 100%;
      font-family: 'gta'; 
      
    }

.btn{
   padding: 10px 20px;
   width: 90px;

   background: green;
   border: 1px solid rgb(61, 56, 56);
   border-radius: 5px;
   text-align: left;
   user-select: none;
   cursor: pointer;
   font-size: 25px;
   box-shadow: 5px 6px 3px rgb(33, 156, 33);
  
}

.btn:hover{
    background: rgb(0, 156, 0);
}

a{
    Display: inline-block;
    Text-decoration: none;
    color: white;
}

